<%- include("./partials/header.ejs") %>


<!--Featues-->
<div class="feature" id="featues-container-1">
    <div class="features-text">
        <h1>A Warm Welcome to Your Creative Space</h1>
        <p>Welcome to our blog! This is a space designed for sharing ideas, stories, and insights. Whether you're here to 
            explore new perspectives or contribute your own, we’re glad to have you.</p>
    </div>
    <img src="/images/blog-space.jpg" alt="A blogger sitting at the window side">
</div>

<div class="feature" id="featues-container-2">
    <img src="/images/share-connect.jpg" alt="A blogger sitting at the window side" >
    <div class="features-text">
        <h1>Discover, Share, and Connect</h1>
        <p>Our platform is built for discovery and interaction. You'll find a wide range of topics, creative works, 
            and thought-provoking discussions. Dive in and explore content that inspires and informs.</p>
    </div>
</div>

<div class="feature" id="featues-container-3">
    <div class="features-text">
        <h1>Join Our Thriving Community Today</h1>
        <p>We’re more than just a blog—we’re a community. Connect with others who share 
            your passions, exchange ideas, and grow together. Join us and become part of this vibrant space!</p>
    </div>
    <img src="/images/Community.jpg" alt="A blogger sitting at the window side">
</div>

<%- include("./partials/footer.ejs") %>

